# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Streamlit Secrets
.streamlit/secrets.toml

# VS Code Settings
.vscode/

# Jupyter
.ipynb_checkpoints/